# OLA 2
## By group H (Caroline, Micheal og Maria)

## Task

We have decided to work on Danish violence from the years 2018-2022 to predict whether there is an increase or decrease in violent crimes in 2023.

We are considering the cities in which the crime is commited and the gender/sexes and ages of the victims. 

Our end goal is to create a model that can predict where violent crime will most likely be commited and who the victims most likely are, so we can hopefully prevent it by creating self-defense classes to potential victims.

In [1]:
import numpy as np
import pandas as pd
import os
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

### Selecting and preparing a dataset
We have collected two datasets from Danmarks Statistik ... TODO

In [2]:
crime_per_city = pd.read_csv('datasets/violent_crimes_per_city_DK.csv', sep=';', encoding='ISO-8859-1')
crime_victims = pd.read_csv('datasets/victims_of_violent_crime_DK.csv', sep=';')

In [3]:
crime_per_city.head(0)

Empty DataFrame
Columns: [Type of Criminal Offence, City, 2018Q1, 2018Q2, 2018Q3, 2018Q4, 2019Q1, 2019Q2, 2019Q3, 2019Q4, 2020Q1, 2020Q2, 2020Q3, 2020Q4, 2021Q1, 2021Q2, 2021Q3, 2021Q4, 2022Q1, 2022Q2, 2022Q3, 2022Q4]
Index: []

[0 rows x 22 columns]

In [6]:
crime_victims.head(0)

Empty DataFrame
Columns: [Victim of which type of Criminal Offence, Sex, Age Group, 2018, 2019, 2020, 2021, 2022]
Index: []

TODO: change from quarterly year data to yearly:

In [7]:
crime_per_city['2018'] = crime_per_city[['2018Q1', '2018Q2', '2018Q3', '2018Q4']].sum(axis=1)
crime_per_city['2019'] = crime_per_city[['2019Q1', '2019Q2', '2019Q3', '2019Q4']].sum(axis=1)
crime_per_city['2020'] = crime_per_city[['2020Q1', '2020Q2', '2020Q3', '2020Q4']].sum(axis=1)
crime_per_city['2021'] = crime_per_city[['2021Q1', '2021Q2', '2021Q3', '2021Q4']].sum(axis=1)
crime_per_city['2022'] = crime_per_city[['2022Q1', '2022Q2', '2022Q3', '2022Q4']].sum(axis=1)

crime_per_city = crime_per_city.drop(columns=['2018Q1', '2018Q2', '2018Q3', '2018Q4',
                      '2019Q1', '2019Q2', '2019Q3', '2019Q4',
                      '2020Q1', '2020Q2', '2020Q3', '2020Q4',
                      '2021Q1', '2021Q2', '2021Q3', '2021Q4',
                      '2022Q1', '2022Q2', '2022Q3', '2022Q4'])

In [10]:
crime_per_city.head(0)

Empty DataFrame
Columns: [Type of Criminal Offence, City, 2018, 2019, 2020, 2021, 2022]
Index: []